body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add other styles (such as centering the image) */
}

#textContainer {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%); /* Center the text container */
    color: white; /* Set text color */
    font-size: 4vw; /* Adjust the font size */
}

#buttonContainer {
    position: absolute;
    top: 45%; /* Adjust the top position as needed */
    left: 15%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
}

button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 3vw;
    background-color: transparent; /* Set button color */
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
}

#logo {
    width: 80px; /* Adjust the logo width as needed */
    margin-right: 24px; /* Add space between logo and text */
}

/* Media query for vertical orientation */
@media screen and (max-width: 600px), screen and (orientation: portrait){
    #textContainer {
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
    }
    #buttonContainer {
        top: 70%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
    }

    #textContainer {
        font-size: 6vw; /* Adjust font size for smaller screens */
    }

    #logo {
        width: 40px;
    }

    button {
        font-size: 4vw; /* Adjust button font size for smaller screens */
    }
}
